extends layout

block content
  #top
    img(src="../images/logout.png", id='logout')
  each value, key in JSON.parse(array)
    a(href = value["ThreadID"])
      #thread
        each value2, key2 in value["Participants"]
          h1
            span= value2.name
  script(src="/javascripts/main.js")