extends layout

block content
  h1 href
  img(src="../images/logout.png", id='logout')
  <br/>
  each val, index in JSON.parse(array)
    a(href = index)
      #thread  
        each value, index2 in val
          h1= value.name
  script(src="/javascripts/main.js")