block content
  #top
    img(src="../images/exit.png", id='logout', class='hidden')
  #indexspacer
  each value, key in JSON.parse(array)
    a(href = value["ThreadID"])
      .thread
        each value2, key2 in value["Participants"]
          h1
            span= value2.name
  script(src="/javascripts/main.js")
  script(src="/javascripts/grid.js")