extends layout

block content
  #wu
    h1 Fuck off. (please don't)
    p Here's how much longer I have to wait until you finally come back to me

  #waiting

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
  script(src="/javascripts/wu.js")