body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#me {
	color: navy;
	text-align: right;
	background: aliceblue;
}

div#you {
	color: blue;
}