#spacer {
  height: 0;
  margin: 0;
  padding: 0;
}

#indexspacer {
  padding-top: 50px;
}

@media screen and (min-width: 400px) {
  #spacer {
      padding: 4%;
  }

  #index{
    padding-top: 0px;
  }

}

html {
  height: 100%;
}

h4 {
  margin-top: 0;
}

body {
  min-width: 320px;
  background: #121725;
  background-image: -webkit-linear-gradient(top ,#274A75, #192F4A);
  background-image: linear-gradient(to bottom,#274A75, #192F4A);
  /*padding-top: 50px;*/
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-align: center;
  max-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  margin: 0px;
  min-height: 410px;
}

a {
  color: inherit;
}

div#me {
	font-family: 'Lato', sans-serif;
	text-align: right;
	color: #fff;
	background: #4DA1DE;
	display: inline-block;
	width: 50%;
	border-radius: 15px;
	padding: 15px;
	margin: 9px;
	word-wrap:break-word;
	min-width: 270px;
  max-width: 700px;
}

div#you {
	color: #242B40;
	background: aliceblue;
	text-align: left;
	display: inline-block;
	width: 50%;
	border-radius: 15px;
	padding: 15px;
	margin: 9px;
	word-wrap:break-word;
	min-width: 270px;
  max-width: 700px;
}

#login{
	background: aliceblue;
	margin: 15px auto 0px;
	width: 80%;
	min-width: 250px; 
	max-width: 360px;
	padding: 20px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#login h1{
    position: relative;
    bottom: 9px;
}

h1 {
	font-family: 'Patua One', cursive;
	/*text-decoration: underline;*/
	font-size: 2.3em;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
}

#login_btn {
	cursor:pointer;
	background: #53ABEA;
	margin: auto;
	width: 80%;
	min-width: 250px; 
	max-width: 360px;
	padding: 20px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	height: 10px;
	display: inline-table;
}

#login_btn h2 {
	display: inline;
	color: white;
}

#button {
	visibility: hidden;
	display: none;
}

/*img{
	width: 60px;
	position: relative;
	top: 200px;
}*/

form input {
	outline: 0;
    padding-right: 5px;
    height: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    width: 50%;
    border-radius: 4px;
    border-style: solid;
    border-color: #ADADAD;
    border-width: 1px;
    margin: 5px;
    text-indent: 15px;
    min-width: 225px;
}

.thread {
	background: aliceblue;
	margin: 9px;
	width: 240px;
	padding: 20px;
	border-radius: 6px;
	display: inline-block;
	position: absolute;
	left:0px;
	top: 0px;
}

.thread h1 {
  font-size: 2.0em;
}

img#logout {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
}
img#logout:hover {
	cursor:pointer;
}

#you a {
	text-decoration: none;
	/*color: #fff;	*/
}

#me a {
	text-decoration: none;
	/*color: #00B7FF;	*/
}

#top {
	position: fixed;
    top: 0;
    text-align: center;
    /*background: #264771;*/
    width: 100%;
    margin-left: -58px;
    height: 66px;
    /*z-index: 10;*/
    /*box-shadow: 0px 3px 10px #192F4A;*/
}

#top h1{
	position: absolute;
    top: -11px;
    left: 47.7%;
}

span{
  color: #00B7FF;
  /*  shadows render better in certain browsers than text, first rule is for older browser support  */
  text-shadow: 0 0 #00B7FF, .08em 0 0 aliceblue, 0 0, -.08em 0 0 aliceblue;
  /*  gradient background allows us to use css only & re-position it  */
  background: -webkit-linear-gradient(#00B7FF, #00B7FF) center 1.06em no-repeat;
  background: linear-gradient(#00B7FF, #00B7FF) center 1.06em no-repeat;
  /*  can precisely control size in relation to the text  */
  background-size: 85% 3px;
  /*  now the underline supports transitions  */
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

span:hover {
  /*  backgrounds won't size larger than 100%  */
  background-size: 100% 3px;
}

#mespan{
	color: aliceblue;	
	/*  shadows render better in certain browsers than text, first rule is for older browser support  */
    text-shadow: 0 0 #4DA1DE, .08em 0 0 #4DA1DE, 0 0, -.08em 0 0 #4DA1DE;
    /*  gradient background allows us to use css only & re-position it  */
    background: -webkit-linear-gradient(aliceblue, aliceblue) center 1.06em no-repeat;
    background: linear-gradient(aliceblue, aliceblue) center 1.06em no-repeat;
    background-size: 85% 3px;
}

#mespan:hover{
	background-size: 100% 3px;
}

#youspan{
	color: #242B40;	
	/*  shadows render better in certain browsers than text, first rule is for older browser support  */
    text-shadow: 0 0 #242B40, .08em 0 0 aliceblue, 0 0, -.08em 0 0 aliceblue;
    /*  gradient background allows us to use css only & re-position it  */
    background: -webkit-linear-gradient(#242B40, #242B40) center 1.06em no-repeat;
    background: linear-gradient(#242B40, #242B40) center 1.06em no-repeat;
    background-size: 85% 3px;
}

#youspan:hover{
	background-size: 100% 3px;
}


#index {
	width:1077px;
	margin:0px auto;
	position: relative;
}


#logotop{
	color: #000;
    /*  shadows render better in certain browsers than text, first rule is for older browser support  */
    text-shadow: 0 0 #000, .08em 0 0 #264771, 0 0, -.08em 0 0 #264771;
    /*  gradient background allows us to use css only & re-position it  */
    background: -webkit-linear-gradient(#000, #000) center 1.06em no-repeat;
    background: linear-gradient(#000, #000) center 1.06em no-repeat;
    /*  can precisely control size in relation to the text  */
    background-size: 85% 3px;
    /*  now the underline supports transitions  */
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

#logo{
	color: #242B40;
    /*  shadows render better in certain browsers than text, first rule is for older browser support  */
    text-shadow: 0 0 #242B40, .08em 0 0 aliceblue, 0 0, -.08em 0 0 aliceblue;
    /*  gradient background allows us to use css only & re-position it  */
    background: -webkit-linear-gradient(#242B40, #242B40) center 1.06em no-repeat;
    background: linear-gradient(#242B40, #242B40) center 1.06em no-repeat;
    /*  can precisely control size in relation to the text  */
    background-size: 85% 3px;
    /*  now the underline supports transitions  */
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

#logo:hover {
  /*  backgrounds won't size larger than 100%  */
  background-size: 100% 3px;
}

#back{
	position: fixed;
    left: 90%;
}

h6 {
  width: 150px;
  height: 11px;
	color: aliceblue;
    display: block;
    position: relative;
}

h5 {
  color: #475263;
}

@media screen and (min-width: 630px) {
    h6 {
		  color: aliceblue;
          position: relative;
    top: 31px;
    	display: -webkit-inline-box;
    	/*position: absolute;*/
	}
}

#footer {
    background: #121725;
    color: #65768E;
    position: fixed;
    bottom: 0;
    width: 100%;
    width: 100%;
    text-align: -webkit-center;
}
#footer-text {
  display: none;
  max-width: 720px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
}

#icon, #iconu{
  cursor:pointer;
  opacity: 0.1;
  width: 60px;
  padding: 10px;
}
.nostyle{
	
}

#loading img {
  width: 60px;
  position: relative;
  top: 200px;

}




#fullthread{
  position: relative;
  left: 0px;
  display: block;
  text-align: -webkit-center;
}



@media screen and (min-width: 630px) {
  #fullthread{
    left: 75px;
  }
}